@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@import "src/assets/styles/buttons";
@import "src/assets/styles/navigation";
@import "src/assets/styles/footer";
@import "src/assets/styles/inputs";
@import "src/assets/styles/mixins";

*:focus {
  outline: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  flex: 1 0 auto;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

table, th, td {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  border-spacing: 50px 0;
}

div.centerContainer {
  text-align: center;
}

table.slotsTable {
  border-collapse: collapse;
  border-style: hidden;
}

table td.slotsColumn {
  padding: 30px;
  border: 1px solid black;
}

.box-group {
  display: flex;
  @include small {
    flex-direction: column;
  }

  @include large {
    flex-direction: row;
  }
}

.main-box {
  position: relative;
  margin: 5% auto;
  padding: 40px;
  width: fit-content;
  height: auto;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.main-box-container {
  min-width: 400px;
  height: auto;
}

.game-image {
  width: 300px;
  height: 300px;
}

table.tableAccount {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border-spacing: 50px 0;
}

td.accountNormal {
  width: 150px;
  text-align: left;
}

td.accountBold {
  width: auto;
  text-align: left;
  font-weight: bold;
}

