<app-error-box></app-error-box>
<div class="wrapper" [ngStyle]="{'min-height': isLoggedIn() ? 'calc(100vh - 120px)' : 'calc(100vh - 60px)'}"><nav>
  <ul class="nav-bar">
    <li><a routerLink="/"><img src="/assets/images/casino-logo.png" id="casinoLogo" width="15" height="15"
                               alt="casino_logo"/></a></li>
    <li><a routerLink="/slots">Slots</a></li>
    <li><a routerLink="/roulette">Roulette</a></li>
    <li><a routerLink="/twenty-one">TwentyOne</a></li>
    <li><a routerLink="/account">Your Account</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

</div>
<footer [ngStyle]="{'height': isLoggedIn() ? '120px' : '60px'}">
  <form (submit)="logout()" *ngIf="isLoggedIn()">
    <input class="green-button" value="Logout" type="submit">
  </form>
  <span class="my-signature">Created by Arkadiusz Gawrysiuk</span>
</footer>
