<nav>
  <ul>
    <li><a routerLink="/"><img src="/assets/images/casino-logo.png" id="casinoLogo" width="15" height="15" alt="casino_logo"/></a></li>
    <li><a id="linkSlots">Slots</a></li>
    <li><a id="linkRoulette">Roulette</a></li>
    <li><a id="linkTwentyOne">TwentyOne</a></li>
    <li style="float:right"><a id="linkAccount">Your Account</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer id="footerId">
  <form action="/logout" method="post">
    <input value="Logout" type="submit">
  </form>
  <p>Created by Arkadiusz Gawrysiuk</p>
</footer>
