<div class="center-container">
  <img class="game-image" src="/assets/images/Casino_Blackjack.png"/>
  <h1>{{twentyOne.mainMessage}}</h1>
  <h2>Your balance is {{twentyOne.balance | number:'1.2-2':'pl-PL'}} $.</h2>
  <h2>{{twentyOne.resultMessage}}</h2>
  <div class="row">
    <div class="column">
      <p class="bold">Your hand:</p>
      <div class="row-center">
        <img *ngFor="let card of twentyOne.yourCards; let i = index" src="{{getCardImage(false, i)}}"/>
      </div>
    </div>
    <div class="column">
      <p class="bold">Dealer's hand:</p>
      <div class="row-center">
        <p *ngFor="let card of twentyOne.dealersCards; let i = index"><img src="{{getCardImage(true, i)}}"/></p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!twentyOne.gameFinished" class="center-container">
  <input class="green-button" value="Hit me!" name="hitMe" type="submit" (click)="sendRequest(requestCode.HIT_ME)"/>
  <input class="green-button" value="Hold" name="hold" type="submit" (click)="sendRequest(requestCode.HOLD)"/>
</div>
<div *ngIf="twentyOne.gameFinished" class="center-container">
    <input class="green-button" value="Play again" name="again" type="submit" (click)="sendRequest(requestCode.AGAIN)"/>
</div>
