<div class="box-group">

  <div class="main-box">
    <div *ngIf="!editingInfo">
      <h2 class="bold">You are logged in as {{getNickname()}}</h2>
      <p>Here is information about your account:</p>
      <div class="box-line">
        <span class="input-title">Username: </span>
        <span class="bold">{{casinoUser?.nickname}}</span>
      </div>
      <div class="box-line">
        <span class="input-title">Balance: </span>
        <span class="bold">{{casinoUser?.balance | number:'1.2-2':'pl-PL'}}</span>
      </div>
      <div class="box-line">
        <span class="input-title">Name: </span>
        <span class="bold">{{casinoUser?.firstName}}</span>
      </div>
      <div class="box-line">
        <span class="input-title">Surname: </span>
        <span class="bold">{{casinoUser?.secondName}}</span>
      </div>
      <div class="box-line">
        <span class="input-title">Date of birth: </span>
        <span class="bold">{{casinoUser?.birthDate | date}}</span>
      </div>
      <div class="box-line">
        <span class="input-title">Country of residence: </span>
        <span class="bold">{{casinoUser?.country}}</span>
      </div>
      <button class="green-button" (click)="createEditForm()" type="button">Edit information</button>
      <button class="green-button" [routerLink]="['/edit-password']" type="button">Change password</button>
    </div>
    <div *ngIf="editingInfo">
      <h2 class="bold">You are logged in as {{getNickname()}}</h2>
      <p>Edit yor information:</p>
      <form [formGroup]="editForm!">
        <div>
          <label>Name: </label>
          <input class="form-input" formControlName="firstName" type="text" placeholder="Name"/>
        </div>
        <div>
          <label>Surname: </label>
          <input class="form-input" formControlName="secondName" type="text" placeholder="Surname"/>
        </div>
        <div>
          <label>Date of birth:</label>
          <input class="form-input" formControlName="birthDate" type="date" placeholder="Date of birth"/>
        </div>
        <div>
          <label>Country of living:</label>
          <input class="form-input" formControlName="country" type="text" placeholder="Country of living"/>
        </div>
      </form>
      <p *ngIf="showError">Save information failed!</p>
      <button class="redirect" (click)="saveEditForm()" type="button" [disabled]="editForm!.invalid">Save information
      </button>
    </div>
  </div>

  <div class="main-box">
    <div class="center-box">
      <p>Balance:</p>
      <h1 class="bolder account-amount">{{casinoUser?.balance | number:'1.2-2':'pl-PL'}}</h1>
      <button class="deposit" [routerLink]="['/deposit']" type="button" [disabled]="isDepositDisabled()">Deposit
        now
      </button>
      <p *ngIf="isDepositDisabled()">Fill in your information to deposit</p>
    </div>
  </div>

</div>
