<div id="login-box">
  <div class="registrationForm">
    <h1>Login page</h1>
    <p *ngIf="loginFailed" id="loginPrintError" class="error">Wrong username or password</p>
    <form [formGroup]="form" id="loginForm" method="post" (submit)="login()">
      <label for="username">Username</label>:
      <input class="input" type="text" formControlName="username" id="username" name="username" autofocus="autofocus"/> <br/>
      <label for="password">Password</label>:
      <input class="input" type="password" formControlName="password" id="password" name="password"/> <br/>
      <input type="submit" name="login" value="Log in" form="loginForm"/><br/>
      <p>Don't have an account? <a routerLink="/register">Register one now!</a></p>
    </form>
  </div>
</div>
