<div id="account-page">
  <div class="account-box">
    <h2 style="font-weight: bold;text-align:left">Change your password:</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <div>
        <input formControlName="oldPassword" type="password" placeholder="Old password"/>
      </div>
      <div>
        <input formControlName="password" type="password" placeholder="New password" (blur)="checkRetypedPassword()"/>
      </div>
      <div>
        <input formControlName="matchingPassword" type="password" placeholder="Retype new password" (keyup)="checkRetypedPassword()"/>
      </div>
      <input value="Update password" name="updatePassword" type="submit" [disabled]="passwordForm.invalid && !buttonClickable"/>
      <p *ngIf="error">{{errorMessage}}</p>
      <p *ngIf="success">Password changed successfully!</p>
    </form>
  </div>
</div>
