<!DOCTYPE html>
<html lang="en">
<header class="topNav" id="headerId">
    <nav>
        <ul>
            <li><a id="linkHome"><img src="https://www.iconsdb.com/icons/preview/white/cards-xxl.png" width="15" height="15"></a></li>
            <li><a id="linkSlots">Slots</a></li>
            <li><a id="linkRoulette">Roulette</a></li>
            <li><a id="linkTwentyOne">TwentyOne</a></li>
            <li style="float:right"><a id="linkAccount">Your Account</a></li>
        </ul>
    </nav>
</header>
<body>

</body>
</html>