<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header class="topNav" id="headerId">
    <nav>
        <ul>
            <li><a th:href="home"><img src="https://www.iconsdb.com/icons/preview/white/cards-xxl.png" width="15" height="15"></a></li>
            <li><a th:href="slots" th:text="Slots">Slots</a></li>
            <li><a th:href="roulette" th:text="Roulette">Roulette</a></li>
            <li><a th:href="twentyone" th:text="TwentyOne">TwentyOne</a></li>
            <li style="float:right"><a th:href="account" th:text="Account">Your Account</a></li>
        </ul>
    </nav>
</header>
<body>

</body>
</html>