@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

body {
    padding: 60px 0;
    background-color: #DDD;
    margin: 0 auto;
    width: 600px;
}

.form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-information {
    background-color: #16a085;
    color: #fff;
    padding: 1px 0;
    text-align: center;
}

h1 {
    font-size: 1.3em;
    font-family: "Roboto";
}

input {
    margin: 1px 0;
    padding-left: 3%;
    font-size: 14px;
}

input[type="text"] {
    display: block;
    height: 50px;
    width: 97%;
    border: none;
}

input[type="submit"] {
    display: block;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #16a085;
    color: #fff;
    margin-top: 2px;
    curson: pointer;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.box {
    display: flex;
    justify-content: space-between;
}

.smallbox {
    width: 49.8%;
}