<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<div id="account-page">
    <div class="account-box">
        <h2 style="font-weight: bold;text-align:left" id="messageText">${message}</h2>
        <p>Here is information about your account:</p>
        <table class="tableAccount">
            <tr>
                <td class="accountNormal">Username:</td>
                <td id="nicknameTd" class="accountBold"></td>
            </tr>
            <tr>
                <td class="accountNormal">Balance:</td>
                <td id="balanceTd" class="accountBold"></td>
            </tr>
            <tr>
                <td class="accountNormal">Name:</td>
                <td id="firstnameTd" class="accountBold"></td>
            </tr>
            <tr>
                <td class="accountNormal">Surname:</td>
                <td id="surnameTd" class="accountBold"></td>
            </tr>
            <tr>
                <td class="accountNormal">Date of birth:</td>
                <td id="birthTd" class="accountBold"></td>
            </tr>
            <tr>
                <td class="accountNormal">Country of residence:</td>
                <td id="countryTd" class="accountBold"></td>
            </tr>
        </table>
        <button class="redirect" onclick="location.href='/edit'" type="button">Edit information</button>
        <button class="redirect" onclick="location.href='/password'" type="button">Change password</button>
    </div>

</div>
<div id="account-page2">
    <div class="account-box2">
        <table>
            <tr>
                <td>Balance:</td>
            </tr>
            <tr>
                <td><h1 id="balanceH1" style="font-weight: bolder; font-size: 75px">balance</h1></td>
            </tr>
            <tr>
                <td>
                    <button class="deposit" onclick="location.href='/deposit'" type="button">Deposit now</button>
                </td>
            </tr>
        </table>

    </div>
</div>
<footer id="footerId"></footer>
</body>
</html>