<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<div id="account-page">
    <div class="account-box">
        <h2 style="font-weight: bold;text-align:left">Change your information:</h2>
        <form id="updateInformationForm" action="" method="POST" enctype="utf8">
            <div>
                <label>Name: </label>
                <input id="firstname" type="text" placeholder="Name"/>
            </div>
            <div>
                <label>Surname: </label>
                <input id="secondname" type="text" placeholder="Surname"/>
            </div>
            <div>
                <label>Date of birth:</label>
                <input id="dateOfBirth" type="date" placeholder="Date of birth"/>
            </div>
            <div>
                <label>Country of living:</label>
                <input id="country" type="text" placeholder="Country of living"/>
            </div>
            <button class="redirect" onclick="validateForm()" type="button">Edit</button>
        </form>
        <p id="confirmationMessageParagraph"><span id="confirmationMessageS">Confirmation message</span></p>
    </div>
</div>
<footer id="footerId"></footer>
<script type="text/javascript">
    function validateForm() {
        var isValid = true;

        var elements = document.getElementById('updateInformationForm').getElementsByTagName('input');

        for (var i = 0; i < elements.length; i++) {
            if (elements[i].value.length < 1) {
                isValid = false;
            }
        }

        if (isValid) {
            document.getElementById('updateInformationForm').submit();
        } else {
            alert('Please fill all required fields');
        }
    }
</script>
</body>
</html>