<!DOCTYPE html>
<html>
<head id="headId">
</head>
<body id="errorBody">
<div id="error-box">
    <div class="errorShow">
        <h1>Something went wrong!</h1>
        <iframe src="https://giphy.com/embed/l2JecfQX2EiuqHxXG" width="480" height="362" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        <!--/*@thymesVar id="errorMessage" type="com.agawrysiuk.casino.controller.ErrorController"*/-->
        <a href="/" id="homeLink">Back to Home Page</a>
    </div>
</div>
</body>
</html>