<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
</head>
<body>
    <h2 align="center">Choose your game:</h2>
    <div align="center">
        <table>
            <tr>
                <td><img id="blackjackImg" width="400" height="400" border="0"/></td>
                <td><img id="rouletteImg" width="400" height="400" border="0"/></td>
                <td><img id="slotsImg" width="400" height="400" border="0"/></td>
            </tr>
        </table>
    </div>
</body>
</html>