<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<h2 id="messageText">${message}</h2>
<h2 align="center">Choose your game:</h2>
<div align="center">
    <table>
        <tr>
            <td><img id="blackjackImg" width="400" height="400" border="0"/></td>
            <td><img id="rouletteImg" width="400" height="400" border="0"/></td>
            <td><img id="slotsImg" width="400" height="400" border="0"/></td>
        </tr>
    </table>
</div>
<footer id="footerId"></footer>
</body>
</html>