<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<h2 align="center">Choose your game:</h2>
<div align="center">
    <table>
        <tr>
            <td><a id="linkTwentyOne"><img id="blackjackImg" width="300" height="300" border="0"/></a></td>
            <td><a id="linkRoulette"><img id="rouletteImg" width="300" height="300" border="0"/></a></td>
            <td><a id="linkSlots"><img id="slotsImg" width="300" height="300" border="0"/></a></td>
        </tr>
    </table>
</div>
<footer id="footerId"></footer>
</body>
</html>