<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div id="login-box">
    <div class="registrationForm">
        <h1>Login page</h1>
        <p id="loginPrintError" class="error">Wrong user or password</p>
        <form id="loginForm" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password"/> <br/>
            <input type="submit" value="Log in"/>
        </form>
    </div>
</div>
</body>
</html>