<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<div id="account-page">
    <div class="account-box">
        <h2 style="font-weight: bold;text-align:left">Change your password:</h2>
        <form id="updatePasswordForm" action="" method="POST" enctype="utf8">
            <div>
                <input id="oldPasswordInput" type="password" placeholder="Old password"/>
            </div>
            <div>
                <input id="newPasswordInput" type="password" placeholder="New password"/>
            </div>
            <div>
                <input id="matchingPasswordInput" type="password" placeholder="Retype new password"/>
            </div>
            <input value="Update password" name="updatePassword" type="submit" form="updatePasswordForm"/>
            <p id="errorParagraph">Error</p>
        </form>
    </div>
</div>
<footer id="footerId"></footer>
</body>
</html>