<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<div id="account-page">
    <div class="account-box">
        <h2 style="font-weight: bold;text-align:left">Change your password:</h2>
        <form id="updatePasswordForm" action="" th:object="${passwordDto}" method="POST" enctype="utf8">
            <div>
                <input type="password" th:field="*{oldPassword}" placeholder="Old password"/>
            </div>
            <div>
                <input type="password" th:field="*{password}" placeholder="New password"/>
            </div>
            <div>
                <input type="password" th:field="*{matchingPassword}" placeholder="Retype new password"/>
            </div>
            <input value="Update password" name="updatePassword" type="submit" form="updatePasswordForm"/>
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</p>
        </form>
    </div>
</div>
<footer id="footerId"></footer>
</body>
</html>