<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head id="headId">
</head>

<body>
<div id="login-box">
    <div class="registrationForm">
        <h1>Register</h1>
        <form id="registerForm" action="" th:object="${userdto}" method="POST" enctype="utf8">

            <div>
                <input type="text" th:field="*{username}" placeholder="Username"/>
            </div>
            <div>
                <input type="email" th:field="*{email}" placeholder="Email"/>
            </div>
            <div>
                <input type="password" th:field="*{password}" placeholder="Password"/>
            </div>
            <div>
                <input type="password" th:field="*{matchingPassword}" placeholder="Retype password"/>
            </div>
            <input value="Register" name="register" type="submit" form="registerForm"/>
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</p>
        </form>

        <a th:href="@{/login.html}">Login</a>
    </div>
</div>
</body>

</html>