<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>

<body>
<div id="login-box">
    <div class="registrationForm">
        <h1>Register</h1>
        <form id="registerForm" action="" method="POST" enctype="utf8">

            <div>
                <input id="usernameInput" type="text" placeholder="Username"/>
            </div>
            <div>
                <input id="emailInput" type="email" placeholder="Email"/>
            </div>
            <div>
                <input id="passwordInput" type="password" placeholder="Password"/>
            </div>
            <div>
                <input id="matchingPasswordInput" type="password" placeholder="Retype password"/>
            </div>
            <input value="Register" name="register" type="submit" form="registerForm"/>
            <p id="errorParagraph">Error</p>
        </form>
        <p>Have an account? <a href="/login">Log in now!</a></p>
    </div>
</div>
</body>

</html>