<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div class="centerContainer">
    <img id="rouletteImg" width="400" height="400"/>
    <h1 id="mainMessage"></h1>
    <h2 id="resultMessage"></h2>
    <!--    <label for="dollarLabel">$$$</label>-->
    <!--    <input id="dollarLabel" type="number" name="betSize" value="1" width="20"/>-->
</div>
<div class="centerContainer">
    <table>
        <tr>
            <td><p>Bet on a single number</p></td>
            <td><p>Bet on red or black</p></td>
            <td><p>Bet on even or odd</p></td>
        </tr>
        <tr>
            <td>
                <form id="singleForm" action="#" method="post">
                    <select id="guessSingle" name="guessSingle">
                        <option id="optionIterate" ></option>
                    </select>
                </form>
            </td>
            <td>
                <form id="redOrBlackForm" action="#" method="post">
                    <select id="guessRedOrBlack" name="guessRedOrBlack">
                        <option value="red">Red</option>
                        <option value="black">Black</option>
                    </select>
                </form>
            </td>
            <td>
                <form id="evenOrOddForm" action="#" method="post">
                    <select id="guessEvenOrOdd" name="guessEvenOrOdd">
                        <option value="even">Even</option>
                        <option value="odd">Odd</option>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <input value="Bet" name="singleFormSubmit" type="submit" form="singleForm"/>
            </td>
            <td>
                <input value="Bet" name="redOrBlackFormSubmit" type="submit" form="redOrBlackForm"/>
            </td>
            <td>
                <input value="Bet" name="evenOrOddFormSubmit" type="submit" form="evenOrOddForm"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>