<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
</head>
<body>
<div class="centerContainer">
    <img id="rouletteImg" width="400" height="400"/>
    <h1 id="mainMessage"></h1>
</div>
<div class="centerContainer">
    <table>
        <tr>
            <td><p>Bet on single number</p></td>
            <td><p>Bet on red or black</p></td>
            <td><p>Bet on even or odd</p></td>
        </tr>
        <tr>
            <td>
                <form action="#" method="post">
                    <button value="Bet" name="single" type="submit">Bet</button>
                </form>
            </td>
<!--            <td>-->
<!--                <form action="#" method="post">-->
<!--                    <button value="Bet" name="redorblack" type="submit">Bet</button>-->
<!--                </form>-->
<!--            </td>-->
<!--            <td>-->
<!--                <form action="#" method="post">-->
<!--                    <button value="Bet" name="evenorodd" type="submit">Bet</button>-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    </table>
</div>
</body>
</html>