<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
</head>
<body>
<div class="centerContainer">
    <img id="slotsImg" width="400" height="400"/>
    <h1 id="mainMessage"></h1>
</div>
<div class="centerContainer">
    <table class="slotsTable">
        <tr>
            <td th:each="data: ${slotResults}" class="slotsColumn">
                <p th:text="${data}" style="font-size:500%; font-weight: bold;"></p>
            </td>
        </tr>
    </table>
</div>
<div class="centerContainer">
    <form action="#" th:method="post" >
        <input type="hidden" name="_method" value="roll" />
        <button type="submit" id="submitButton">Roll</button>
    </form>
</div>
</body>
</html>