<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<header id="headerId"></header>
<div class="centerContainer">
    <img id="slotsImg" width="300" height="300"/>
    <h1 id="mainMessage"></h1>
    <h2 id="moneyMessage"></h2>
</div>
<div class="centerContainer">
    <table class="slotsTable">
        <tr>
            <td id="tdId" class="slotsColumn">
                <p id="pId" style="font-size:500%; font-weight: bold;"></p>
            </td>
        </tr>
    </table>
</div>
<div class="centerContainer">
    <form action="" method="post">
        <input type="hidden" name="roll" value="roll" />
        <input type="submit" id="submitButton" value="Roll"/>
    </form>
</div>
<footer id="footerId"></footer>
</body>
</html>