<div class="centerContainer">
  <img src="/assets/images/Casino_Slots.png" width="300" height="300"/>
  <h1>{{slots.mainMessage}}</h1>
  <h2 *ngIf="slots.moneyResult; then initialBlock else resultBlock"></h2>
  <ng-template #initialBlock>Your balance is {{slots.balance | number:'1.2-2':'pl-PL'}} $.</ng-template>
  <ng-template #resultBlock>You bet 1 $. You got {{slots.moneyResult}} $. Your balance is now {{slots.balance}} $.</ng-template>
</div>
<div class="centerContainer">
  <table class="slotsTable">
    <tr>
      <td *ngFor="let result of slots.results" class="slotsColumn">
        <p style="font-size:500%; font-weight: bold;">{{result}}</p>
      </td>
    </tr>
  </table>
</div>
<div class="centerContainer">
  <input type="submit" id="submitButton" value="Roll" (click)="roll()"/>
</div>
